@page
@using LoginApplication.MyComponents;
@using LoginApplication.ViewModels;
@model LoginApplication.Pages.UsersModel
@{
    var loggedInUser = await Model.GetCurrentUserAsync();
    var UserName = loggedInUser.Name;
}


<component>@(await Html.RenderComponentAsync<CurrentUser>(RenderMode.ServerPrerendered, new { UserName }))</component>
@*<h4>(CurrentUser: @loggedInUser.Name)</h4>*@

@if (loggedInUser.IsAdmin)
{
    @*<div class="container mt-3">*@
        <a class="btn btn-primary ms-2" asp-area="" asp-page="/AddUser">Add New User</a>
    @*</div>*@
}

<component>@(await Html.RenderComponentAsync<Table<User>>(RenderMode.ServerPrerendered, new { Items = Model.Users, ModelType = "Users" }))</component>
